{{#if imageOnRight}}
<div class="txs--card -image-on-right"
{{else}}
<div class="txs--card"
{{/if}}
    {{#if backgroundImage}}
    style="background-image: url({{backgroundImage}});"
    {{/if}}
    >
    {{#if image}}
    <div class="txs--card__image">
        <img class="txs--card__image__img" src="{{image}}" alt="{{header}}">
    </div>
    {{/if}}
    <div class="txs--card__text">
        {{#if header}}
        <h4 class="txs--card__text__header {{#if inverted}}-inverted{{/if}}">{{header}}</h4>
        {{/if}}
        <p class="txs--card__text__desc {{#if inverted}}-inverted{{/if}}">{{> @partial-block }}</p>
        {{#if links}}
        <ul class="txs--card__text__links">
            {{#each links}}
            <li class="txs--card__text__links__item">
                {{#if newTab}}
                <a href="{{url}}" target="_blank" {{#if ../inverted}}class="-inverted"{{/if}}>{{text}}</a>
                {{else}}
                <a href="{{url}}" {{#if ../inverted}}class="-inverted"{{/if}}>{{text}}</a>
                {{/if}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>